.DS_Store
*.swp
docker_test/*

docker/biomedicus/biomedicus-distribution
docker/biomedicus/biomedicus-distribution-2.0.0-release
docker/biomedicus/biomedicus-distribution-2.0.1-release
docker/biomedicus/biomedicus.tar.gz
docker/elastic_search/elasticsearch-2.1.0
docker/amicus/amicus_ditribution
docker/clamp/ClampCmd_1.4.0
docker/clamp/clamp
docker/clamp/clamp.tar.gz
docker/ctakes/ctakes-distribution
docker/ctake/required/scripts/umls.sh
docker/metamap/public_mm
docker/metamap/apache-uima
docker/nlp-tab/nlptab-webapp
docker/amicus/amicus-distribution

config

