.DS_Store
*.swp

*adapt-biomedicus-clamp-ctakes-test.yaml
argo-k8s/clamp-configmap.yaml
docker/biomedicus/biomedicus-distribution
docker/biomedicus/biomedicus-distribution-2.0.0-release
docker/biomedicus/biomedicus-distribution-2.0.1-release
docker/biomedicus/biomedicus.tar.gz
docker/elastic_search/elasticsearch-2.1.0
docker/amicus/amicus-distribution
docker/clamp/clamp_build
docker/clamp/clamp-old
docker/clamp/required/license
*ctakes-distribution
*public_mm
*public_mm_2016
*apache-uima
*apache-uima-as-2.10.3
docker/metamap/apache-uima
docker/nlp-tab/nlptab-webapp
*ClampUimaAs_1.5.1
*license
**/biomedicus-distribution-2.1.0-release

config

**/data
**/conf*
